venv
.env
*.pth
*.npy
*.npz
*.mp4
*.pkl
*.tar
*.pt
*.png
*.glb
*.srt
*.jpg
*.mov
*.mkv
diffusion_motion_inbetweening/dataset/HumanML3D
diffusion_motion_inbetweening/dataset/HumanML3D_abs
diffusion_motion_inbetweening/kit/
diffusion_motion_inbetweening/glove/
diffusion_motion_inbetweening/t2m/
diffusion_motion_inbetweening/body_models/smpl/
__pycache__/
*.pyc
.DS_Store 

